<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Ha Ha Ha... ... ...</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">      

      <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
              <a class="navbar-brand nav-item nav-link "  routerLink="/quot-item" routerLinkActive="active" >Quote Item Entrance</a>
          </li>
          <li class="nav-item">
              <a class="navbar-brand nav-item nav-link "  routerLink="/dialog-delete" routerLinkActive="active" >Delete Dialog</a>
          </li>
          <li class="nav-item">
              <a class="navbar-brand nav-item nav-link"  routerLink="quotation" routerLinkActive="active" >Quotation</a>
          </li>
      </ul>

    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
<br>



<router-outlet></router-outlet>

<hr>
<hr>
<!----app-quotitem></app-quotitem-->
<hr>

<!--app-quote></app-quote-->

